Package: openrcs
Version: 01
Section: vcs
Priority: optional
Maintainer: Ian LeCorbeau <I-LeCorbeau@protonmail.com>
Homepage: https://github.com/RagnarokOS/openrcs
Architecture: amd64
Description: OpenBSD's version of RCS (Revision Control System)
 This program is part of Ragnarok's base system to allow putting
 files under a VCS without installing anything else.
